body {
    font-family: Lora;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

.hero {
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    font-size: 3em;
}

.hero p {
    font-size: 1.5em;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
}